@charset "UTF-8";

html {
    background-color: #FFF;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype",
             "Dejavu Sans", "Helvetica Neue", Arial,
             sans-serif; 
}

body {
    color: #000;
    line-height:1.4;
    margin: 0;
    background: #fff;
    background: linear-gradient(to bottom, #ffffff , #e4e4e4);
}

nav ul,ol,ul{
  padding-left:0;
}


a {
    color: #000;
    text-decoration: underline;
}

p {
  margin: 0;
}

a:link, a:visited, button{
  transition:all .25s ease;
}

a:focus {
    outline: #000 solid 3px;
    box-shadow: inset 0 0 0 1px #fff;
}

a:hover {
    color: #000;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ececec;
}

header {
  background-color: #00247d;
  color: white;
}

.site-title {
  background-color: #f34258;
  border-bottom: 3px solid #af0b20;
  padding: 10px 0;
 margin-top: 0; 
}

.site-title a {
  color: white;
  text-decoration: none;
}

.site-subtitle, #options {
  padding-bottom:20px;
}

#options{
  margin-top:20px;    
  clear: both;
}

.chart, .container-div {
  margin-bottom: 40px;
}

footer {
  clear: both;
  color: white;
  border-top: 3px solid #af0b20;
  background-color: #f34258;
  padding: 20px;
}

.center-block, header, p, #options, section, .container {
    text-align: center;
} 

.errors {
  background-color:red;
  padding: 10px;
  text-align: center;
  display: none;
}

.notice {
  background-color:yellow;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #000;
}

select {
  padding:10px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #d6d6d6, 0 -1px #e4e4e4 inset;
  -moz-box-shadow: 0 3px 0 #d6d6d6, 0 -1px #e4e4e4 inset;
  box-shadow: 0 3px 0 rgba(0, 138, 187, 0.89), 0 -1px rgba(103, 200, 234, 0.69);
  background: rgba(31, 196, 255, 0.69);
  color:#000;
  border:none;
  width: 120px;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

label {
  position:relative;
  margin-right: 10px;
}

label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
}

input#round{
background-color: #ec008b;
padding : 10px;
text-align: center;
border-radius: 5px;
box-shadow: 0 3px #7c0050;
border: none;
    -webkit-appearance: button;
    cursor: pointer;
    color: #e2ff00;
}

span#missing {
    font-weight: bold;
    background: yellow;
    padding: 5px;
    border-radius: 50%;
}

input#guess {
    background: #fff;
    padding: 5px;
    margin: 10px;
    width: 75%;
    border-radius: 5px;
    border: 1px solid #777777;
    border-bottom: 3px solid #777;
}

input#round:hover{
top: 2px;
box-shadow: 0 2px #7c0050;
}

input#round:active {
  top: 6px;
  box-shadow: 0 0 #7c0050;
}

table#table-data {
  max-width: 1010px;
  margin: 0 auto;
  margin-top: 20px;
}

.container {
  display: block;
  width: auto;
  max-width: 1010px;
  margin: 0 auto;
}

.container-div-half {
    width: 50%;
    float: left;
    position: relative;
    z-index: 100;
  text-align: center;
}

.container-div {
    width: 33.33%;
    float: left;
    position: relative;
    z-index: 100;
    text-align: center
}

.fact {
    margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  width: 250px;
  height: 300px;
  font-size: 14px;
  background-color: yellow;
  color:black;
box-shadow: 0 3px #abab14;
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    transform:rotate(2deg);
}

.chart {
    width: 250px;
    background: #ff56ac;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 3px #de1b7e;
}


#chartContainer{
  margin: 0 auto;
    clear: both;
  display: block;
  position: relative;
  height: 300px;
  width: 350px;
}

#chartBoard {
  margin: 0 auto;
  clear: both;
  display: block;
  position: absolute;
  height: 0px;
  width: 300px;
  top: 80%;
  left: 0;
  bottom:0;
}

#chartList {
  padding: 10px;
  display: inline-block;
  text-align: center;
  max-width: 250px;
  position: relative;
}

.ChartPoint {
  cursor:help;
  border: 7px solid green;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:absolute;
  z-index:1;
}

.Highlighted {
  color : Red;
}

.ChartLine {
  border:1px solid black;
  height:0px;
  position:absolute;
}

.AxisLine
{
  border:1px dashed gray;
}

.data-year-li {
  list-style-type: none;
  float:left;
  margin-right: 20px;
}

h1#heading-title {
    background: yellowgreen;
    padding: 10px;
    border-bottom: 2px solid #5a7d11;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

 
@media only screen and (max-width: 1010px) {
  table th:nth-child(even) {display: none;}
  table td:nth-child(even) {display: none;}
}

@media only screen and (max-width: 871px) {
  .container-div, .container-div-half {
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  table th:nth-child(even),
  table td:nth-child(even) {display: block;}

  table th:nth-child(2),
  table th:nth-child(3),
  table th:nth-child(4),
  table th:nth-child(5),
  table th:nth-child(6),
  table th:nth-child(7),
  table th:nth-child(8),
  table th:nth-child(9),
  table th:nth-child(10),
  table th:nth-child(11),
  table th:nth-child(12),
  table th:nth-child(13),
  table td:nth-child(2),
  table td:nth-child(3),
  table td:nth-child(4),
  table td:nth-child(5),
  table td:nth-child(6),
  table td:nth-child(7),
  table td:nth-child(8),
  table td:nth-child(9),
  table td:nth-child(10),
  table td:nth-child(11),
  table td:nth-child(12),
  table td:nth-child(13) {display: none;}
}


