<section>
	<h1>Page Not Found</h1>
    <img src="img/smile.svg" height="150" width="150"/>
	<p>We are sorry that page does not exist.</p>
	<p><a href="/">Trying going back to the homepage.</a></p>
</section>
